%html
	%head
		%title="Проверка на домашни работи"
		%meta(charset="utf-8")
		%link{rel: "stylesheet", href: "/css/application.css"}
		%link{rel: "stylesheet", href: "/css/registration.css"}
		%link{rel: "stylesheet", href: "/css/problems.css"}
		%script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
		%script{src: "/javascripts/base.js"}
	%body
		%header
			%img{src:"/img/books.png"}
			%div.headline
				%h1="Проверка на домашни работи"
				%h2="Проект по WWW технологии"
			%div.signIn
				- if logged_user?
					%a{href: "/logout"} Изход
				- else
					%a{href:"/login"} Вход /
					%a{href:"/users/new"} Регистрация
		%div.menu
			%ul
				- unless logged_user?
					%li
						%a{href:"/"} Начало
					%li
						%a{href:"/problems"} Задачи
					%li
						%a{href:"/contacts"} Контакти
				- if !@user.nil? && @user.student?
					%li
						%a{href:"/"} Начало
					%li
						%a{href:"/profile"} Профил
					%li
						%a{href:"/problems"} Задачи
					%li
						%a{href:"/my_solutions"} Моите решения
					%li
						%a{href:"/contacts"} Контакти
				- if !@user.nil? && @user.teacher?
					%li
						%a{href:"/"} Начало
					%li
						%a{href:"/profile"} Профил
					%li
						%a{href:"/problems/new"} Нова задача
					%li
						%a{href:"/my_problems"} Моите задачи
					%li
						%a{href:"/contacts"} Контакти
		%div.container
			= yield
		%footer
			%h2="Alabala :))"