%h3 Промяна на парола
%form#change-password{action: '/profile/change_password', method: 'post'}
  %div.inputBlock
    %label{:for => 'password'} Парола
    %input{name: 'password',value: params['password'], type: 'password'}
  %div.inputBlock
    %label{:for => 'new_password'} Нова парола
    %input{name: 'new_password',value: params['new_password'], type: 'password'}
  %div.inputBlock
    %label{:for => 'password_confirmation'} Потвърдете паролата
    %input{name: 'password_confirmation',value: params['password_confirmation'], type: 'password'}
  %div.buttonSubmit
    %input{name: 'submit', value: "Запазване", type: 'submit'}
