- if @wrong
  %div.errorBlock
    %p
      Грешно потребителско име или парола!
%h3 Вход
%form{action: '/login', method: 'post'}
  %div.loginBlock
    %label{:for => 'email'} Имейл
    %input{name: 'email', value: params['email'], type: 'text'}
  %div.loginBlock
    %label{:for => 'password'} Парола
    %input{name: 'password', value: params['password'], type: 'password'}
  %div.buttonSubmit
    %input{name: 'submit', value: "вход", type: 'submit'}