%h3 Моите решения
- if @solutions.empty?
  %div.endOfTimeBlock
    %div.itemBlock
      %p
        Все още не сте предали никакви решения :(
- else
  - @solutions.each do |solution|
    %div.itemBlock
      %h4.itemName
        Решение на задача
        %a{href: "/problems/#{solution.problem.id}"}= "#{solution.problem.name}"
      %pre= solution.text