%h3 Създаване на нова задача
%form{action: '/problems/create', method: 'post', id: "problem-form"}
  #fieldWrapper
    %div.inputBlock
      %label{:for => 'name'} Име на задачата
      %input{name: 'name',value: params['name'], type: 'text'}
    %div.inputBlock
      %label{:for => 'description'} Описание на задачата
      %textarea{name: "description", form:"problem-form"}
    %div.inputBlock
      %label{:for => 'text'} Решение
      %textarea{name: "text", form:"problem-form"}
    %div.inputBlock
      %label{:for => 'end_date'} Краен Срок
      %input{name: 'end_date', type: 'date'}
    %div.buttonSubmit
      %button#addTest{type: "button"} Добави тест
  %div.buttonSubmit
    %input{name: 'submit', value: "Качване", type: 'submit'}