%h3 Задачи
- if @problems.empty?
  %p
    Няма задачи :(
- else
  - @problems.each do |problem|
    %div.itemBlock
      %h4.itemName
        %a{href: "/problems/#{problem.id}"}= problem.name
      %p= problem.description