%h3 Задачи
- if @problems.empty?
  %div.itemBlock
    %p
      Няма задачи, изискващи внимание
- else
  - @problems.each do |problem|
    %div.itemBlock
      %h4.itemName
        %a{href: "/problems/#{problem.id}"}= problem.name
      %pre= problem.description