%h2.itemName = @problem.name
  %p = @problem.description
  - if @user == @problem.author
    %p= "Броят на предадените задачи е #{@problem.solutions}"
    %p= "Може да ги разгледате тук:"
    %a{href: "/problems/#{@problem.id}/solutions"}