img
{
	width: 150px;
	display: inline-block;
	margin-left: 60px;
}

.headline
{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 150px;
	font-size: 22px;
	font-family: sans-serif;
	color: #3366CC;
}

header
{
	background-color: #FFCC99;
	margin-bottom: 20px;
	border-radius: 4px;
}

.signIn
{
	display: inline-block;
	font-size: 22px;
	margin-left: 50px;
}

li
{
	font-size: 18px;
	font-family: sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #FFCC99;
	border-radius: 4px;
}

a
{
	text-decoration: none;
	width: 160px;
	color: #3366CC;
}

ul
{
	width: 200px;
	list-style-type: none;
	padding-left: 20px;
  margin-right: 0px;
}

.container
{
	display: inline-block;
	width: 990px;
  margin-left: 250px;
  border: solid;
  border-color: #FFCC99;
  border-radius: 4px;
  background-color: #FFCC99;
}

.menu
{
  display: inline-block;
  position: absolute;
  top: 180px;
}

footer
{
	border-top: solid;
	width: 998px;
	margin-left: 254px;
  margin-top: 20px;
	color: #3366CC;
}

.exit
{
  margin-left: 90px;
}