.Contact
{
  border: solid;
  border-radius: 4px;
  border-color: #3366CC;
  border-width: 2px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #FFFFCC;
}

.Contact > img
{
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-left: 450px;
  margin-top: 20px;
}

.Personal_information
{
  display: inline-block;
}