textarea
{
  width: 400px;
  height: 200px;
}

.itemName
{
  text-decoration: underline;
  margin-left: 20px;
}

.itemBlock
{
  border: solid;
  border-radius: 4px;
  border-color: #3366CC;
  border-width: 2px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: #FFFFCC;
}

.errorBlock
{
  border: solid;
  border-radius: 4px;
  border-color: #3366CC;
  border-width: 2px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
  background-color: #FF6666;
}

p
{
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 16px;
}

.MessageBlock
{
  border: solid;
  border-radius: 4px;
  border-color: #3366CC;
  border-width: 2px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
  background-color: #99CC66;
}

#addTest
{
  width: 140px;
  height: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #99CCFF;
}

.removeTest
{
  width: 140px;
  height: 30px;
  font-size: 16px;
  background-color: #99CCFF;
}

.testLabel
{
  width: 70px;
}

.inputTest
{
  margin-right: 20px;
}

.testBlock
{
  margin-left: 165px;
  margin-bottom: 20px;
}
